@import url('https://fonts.googleapis.com/css?family=Acme');

#root {
    display:grid;
    grid-template-columns: 220px auto 220px;
    grid-gap:5px;
}

.header {
    grid-column: 1 / -1;
    display:grid;
    grid-template-columns: 50% 50%;
    background-color:#bbbbbb;
    padding:11px;
    border-bottom:10px solid #092e4d;
}

.main {
    grid-column: 2 / 3;
    margin-top:10px;
}

.page-title {
    font-size:2.4em;
    grid-column: 1 / 2;
    font-family: 'Acme', sans-serif;
    margin-bottom:0;
    padding-left:0.5rem;
}

.page-title a {
    text-transform: uppercase;
    font-weight: bold;
}

.page-nav {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

.page-nav-unlock-btn, .page-nav-new-btn {
    float:left;
    margin-left:10px;
}

.page-nav-dropdown-menu {
    float:left;
}

#contentInput {
    resize: none;
}

.home-title {
    border:1px solid #475f72;
    background-color:#475f72;
    border-radius: 5px;
    padding: 10px;
}

.entry {
    border:1px solid #d4d4d4;
    background-color:#d4d4d4;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-bottom:10px;
}

.entry-date {
    float:left;
}

.entry-date a {
    color:#333;
}

.entry-date a:hover {
    text-decoration: underline;
    color:#000;
}

.entry-counter {
    color:#666;
    float:left;
    font-style: italic;
    margin:10px 0 0 8px;
}

.entry-content {
    clear:both;
}